.fl{
    display : inline-flex;
    flex-wrap: wrap;
}

.design {
    margin-top: 110px;
}

.des{
    width : 50%;
}

.de {
    width : 50%;
}

.heightandwidth{
    height: 300px;
    width: 600px;
}

@media only screen and (max-width : 600px){
    .des{
        width : 100%;
    }
    .de{
        width : 100%;
    }
    .heightandwidth{
        height: 200px;
        width : 400px;
        margin-right: 90px;
    }
}
